<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/MFMCanvasWatch" version="1.2.1" viewmodes="maximized">
    <tizen:application id="sSPWMtjycA.CanvasWatch" package="sSPWMtjycA" required_version="2.3.1"/>
    <author>Mauro Filipe Maia</author>
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <license href="https://raw.githubusercontent.com/git/git-scm.com/main/MIT-LICENSE.txt">MIT</license>
    <name>MFMCanvasWatch</name>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="enable" hwkey-event="enable"/>
</widget>
